absl-py
astunparse
backcall
cachetools
certifi
chardet
cloudpickle
colorama
cycler
decorator
dlib
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
helpdev
idna
imageio
ipykernel
ipython
ipython-genutils
jedi
joblib
jupyter-client
jupyter-core
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
natsort
networkx
numpy
oauthlib
# 安装opencv_contrib_python-4.10.0.84-cp37-abi3-linux_x86_64.whl
# 通过该whl安装完整的whl了
# opencv-contrib-python-headless
# opencv-python-headless
opt-einsum
pandas
parso
pickleshare
Pillow
pip
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
Pygments
pyparsing
PyQtWebEngine
python-dateutil
pytz
PyWavelets
# linux系统 所以注释
# pywin32
pyzmq
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
setuptools
six
spyder-kernels
# tensorboard
# tensorboard-data-server
# tensorboard-plugin-wit
# tensorflow-estimator
# 自 TensorFlow 2.0 起，tensorflow 包已经包括了 GPU 支持。
# 可以直接安装 tensorflow 而不是 tensorflow-gpu
# tensorflow-gpu
# 最前面四个包不需要分别安装 全部包含在tensorflow 中
tensorflow
termcolor
threadpoolctl
tifffile
tornado
traitlets
typing-extensions
urllib3
wcwidth
Werkzeug
wheel
# 是Windows平台特定的包
# wincertstore
wrapt
xlrd
# 后续新增
tqdm
openpyxl